<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.pepito.volumetile">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:label="@string/volume_tile_label">

        <service
            android:name=".VolumeTile"
            android:label="@string/volume_tile_label"
            android:icon="@drawable/ic_volume"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

    </application>
</manifest>
